.jumbotron{
    background-color:#4278d6 !important;
}
h1{
    color:white;
}
h2{
    color: white;
}
h3{
    color: white;
}
.dropdown-menu {
  left: 50%;
  right: auto;
  text-align: center;
  transform: translate(-50%, 0);
}
.bodyHeading{
    color:black;
}
.platformTitle{
    background-color: #4278d6;
}

